<h1>Authors show</h1>
<div class="container">
    <div class="specific-user">
        <div class="image">
            <img  src=<%= @author.photo%> > 
        </div>
        <div class="specific-user-content">
            <h2><%= @author.name %></h2>
            <span> Number of Posts: <%= @author.posts.length %></span>
        </div>
    </div>

    <div>
        <%= @author.bio%>
    </div>

    <%@author.three_recent_posts_per_user.each do |post|%>
        <div class="posts-container">
            <div class="post-title">
                <%= link_to author_post_path(@author, post) do %>
                    <%= post.title%>
                <% end %>
            </div>
             <p><%= post.text%></p>
             <div class="comments-likes">
                <span> 💬 Comments: <%=post.comments.length%></span>
                <span>Likes: <%= post.likes.length%> </span>
             </div>
             <div class="create_delete_btns">
             <% if can? :destroy, post %>
             <%= button_to "Delete", author_post_path(@author, post), method: :delete, class:"posts-btn" %>
             <% end %>
         </div>
        </div>

    <% end%>
    <div class="buttons">
        <%= link_to author_posts_path(@author) do %>
            <button class="posts-btn">See all Posts </button>
        <% end %>

        <% if current_author.id == @author.id %>
            <%= link_to new_author_post_path(@author) do %>
                <button class="posts-btn">Create new Post </button>
            <% end %>
        <% end %>

    </div>
</div>
