<div class="container">
    <div class="specific-user">
        <div class="image">
            <img  src=<%= @author.photo%> > 
        </div>
        <div class="specific-user-content">
            <h2><%= @author.name %></h2>
            <span>Number of Posts: <%= @author.posts_counter %></span>
        </div>
    </div>

    <%@author.posts.includes([:comments, :likes]).each do |post|%>
        <div class="posts-container">
        
            <div class="post-title">
                <%= link_to author_post_path(@author, post) do %>
                    <%= post.title%>
                <%end%>
            </div>
           
             <p><%= post.text%></p>
             <div class="comments-likes">
             <span>💬 Comments:<%=post.comments.length%></span>
             <span>Likes: <%= post.likes.length%> </span>
             </div>
        </div>
        <div class="post-comment"> 
        <h3 class="comment-title">Comments:</h3>
        <% post.five_most_recent_comments_per_post.each do |comment|%>
            <div> 
                <span> <%= comment.author.name%> </span>: <span><%= comment.text%></span>
            </div>
        
        </div>
       <% end%>  
    <% end%>    
         <button class="pagination-btn">Pagination </button>
</div>
